@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(1, 6, 42);
}

.hover\\:text-glow:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #ffffff;
  animation: typewriter 2s steps(20) 0.5s forwards;
}

.delay-1 { animation-delay: 0.5s; }
.delay-2 { animation-delay: 1s; }
.delay-3 { animation-delay: 1.5s; }
.delay-4 { animation-delay: 2s; }

